{erl_opts, [
    %% Erlang 18.x introduced  Time and Time Correction and new bifs
    {platform_define, "^18.+", monotonic_time}
]}.

{deps, [
    {color, "1.0.0", {pkg, erlang_color}},
    {tdiff, "0.1.2"}
]}.

{profiles, [
    {demo, [
        {erl_opts, [{d, 'DEMO'}]},
        {eunit_opts, [no_tty, {report, {unite_compact, [{profile, 3}]}}]}
    ]}
]}.
