{deps, [
    {color, "1.0.0", {pkg, erlang_color}},
    {tdiff, "0.1.2"}
]}.

{project_plugins, [rebar3_ex_doc, geas_rebar3]}.

{profiles, [
    {demo, [
        {erl_opts, [{d, 'DEMO'}]},
        {eunit_opts, [no_tty, {report, {unite_compact, [{profile, 3}]}}]}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/eproxus/unite">>},
    {extras, [<<"README.md">>, <<"LICENSE.md">>, <<"CHANGELOG.md">>]},
    {main, <<"readme">>},
    {assets, "assets"}
]}.
